<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills nav-stacked bg-info">

            <li role="presentation" class="{% if sprintMenuOption == 'infogeneral' %}active{% endif %}">
                <a href="/sprint/{{projectKey}}/{{sprintId}}/resumen">Información general</a>
            </li>

            <li role="presentation" class="{% if sprintMenuOption == 'situacion' %}active{% endif %}">
                <a href="/sprint/{{projectKey}}/{{sprintId}}/situacion">Resumen por situación</a>
            </li>

            <li role="presentation" class="{% if sprintMenuOption == 'tipo' %}active{% endif %}">
                <a href="/sprint/{{projectKey}}/{{sprintId}}/tipo">Resumen por tipo</a>
            </li>

            <li role="presentation" class="{% if sprintMenuOption == 'po' %}active{% endif %}">
                <a href="/sprint/{{projectKey}}/{{sprintId}}/po">Resumen de tareas por product owner</a>
            </li>

            <li role="presentation" class="{% if sprintMenuOption == 'depica' %}active{% endif %}">
                <a href="/sprint/{{projectKey}}/{{sprintId}}/detalle/proyectos">Detalle por proyecto en seguimiento</a>
            </li>

            <li role="presentation" class="{% if sprintMenuOption == 'destado' %}active{% endif %}">
                <a href="/sprint/{{projectKey}}/{{sprintId}}/detalle/estado">Detalle por estado</a>
            </li>


        </ul>
    </div>
</div>